.cart-title {
  color: $dark-1;
  font-weight: bold;
}

.cart-item {
    color: $dark-1;
    border-bottom: 1px solid #dedede;
}

.cart-item-title {
    font-weight: bold;
}

.cart-header {
  display: block;
}

.cart-textarea-recipient-message {
  border-color: #dedede !important;
}

@include media-breakpoint-down(sm) {
  .cart-header {
    display: none;
  }
}

