.cards {
    padding: 1.5rem 0 0 0;
    background: #fff;
}

.card {
    color: $dark-1;
    //box-shadow: 2px 2px 6px rgba(141, 39, 39, 0.1);
    //width: 300px;
    transition: all .3s ease-in-out;
}

.card:hover {
	transform: translateY(-3px);
	box-shadow: 0 2px 10px rgba(141, 39, 39, 0.25);
	transition: all .3s ease-in-out;
}

.card.card-no-animation:hover {
    transform: none;
    box-shadow: none;
    transition: none;
}

.item-card {
    position: relative;
    background: #FFF1F1; /* по умолчанию если не подгружен img.json */
    background-size: cover; /* растянул фон на карточку */
    border-radius: 5px;
    height: 25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: .75rem;
    background: url(../img/card_bg.jpg) no-repeat center/contain;
    line-height: 1.48;
    color: $dark-1;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.item-card:hover {
    transform: translateY(-3px);
    transition: all .5s ease-in-out;
    box-shadow: 3px 3px 14px rgba(141, 39, 39, 0.25),
    3px 3px 8px rgba(141, 39, 39, 0.1);
}

.card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5rem .8rem;
    display: flex;
    justify-content: space-between;
}

.card-name{
    font-size: .875rem;
}

.card-like{
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

.card-like:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all .4s ease-in-out;
}

.card-title {
    font-weight: bold;
}

.card-price-count {
    margin: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card-price {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $attention-1;
    vertical-align: bottom;
}

.card-count {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*border: 1px solid #C29B9B;*/
    border-radius: 10px;
    background-color: #FFF9F9;
    box-shadow: 3px 3px 14px rgba(141, 39, 39, 0.25);
    padding: 0 .4rem;
    color: $dark-1;
    font-size: 1.2rem;
    align-items: center;
}

.card-count_btn {
    background-color: transparent;
    color: lightgray;
    font-size: .8rem;
    border: none;
    text-align: center;
    padding: 0;
}

.card-count_num {
    color: #95999c;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 .5rem;
}

.card-descr {
    height: 6.5rem;
    overflow-y: hidden;
    margin-bottom: 1rem;
}

.card-btn {
    width: 100%;
}


// card columns variant!
//.card {
//    color: #9A7B7B;
//    box-shadow: 2px 2px 6px rgba(141, 39, 39, 0.1);
//    //width: 300px;
//}
//
//.item-card {
//    position: relative;
//    background: #FFF1F1; /* по умолчанию если не подгружен img.json */
//    background-size: cover; /* растянул фон на карточку */
//    border-radius: 5px;
//    height: 25rem;
//    padding-left: 2.5rem;
//    padding-right: 2.5rem;
//    font-size: .75rem;
//    background: url(../img/card_bg.jpg) no-repeat center/contain;
//    line-height: 1.48;
//    color: #9A7B7B;
//    overflow: hidden;
//    transition: all .3s ease-in-out;
//}
//
//.item-card:hover {
//    transform: translateY(-3px);
//    transition: all .5s ease-in-out;
//    box-shadow: 3px 3px 14px rgba(141, 39, 39, 0.25),
//    3px 3px 8px rgba(141, 39, 39, 0.1);
//}
//
//.card-overlay {
//    position: absolute;
//    left: 0;
//    bottom: 0;
//    width: 100%;
//    padding: .5rem .8rem;
//    display: flex;
//    justify-content: space-between;
//}
//
//.card-name{
//    font-size: .875rem;
//}
//
//.card-like{
//    font-size: 1rem;
//    transition: all .2s ease-in-out;
//}
//
//.card-like:hover{
//    cursor: pointer;
//    transform: scale(1.3);
//    transition: all .4s ease-in-out;
//}
//
//.card-title {
//    font-weight: bold;
//}
//
//.card-price-count {
//    margin: 1rem 0;
//    display: flex;
//    flex-wrap: nowrap;
//    justify-content: space-between;
//}
//
//.card-price {
//    font-size: 1.5rem;
//    line-height: 1.5rem;
//    color: #921c2d;
//    vertical-align: bottom;
//}
//
//.card-count {
//    display: flex;
//    flex-wrap: nowrap;
//    justify-content: space-between;
//    /*border: 1px solid #C29B9B;*/
//    border-radius: 10px;
//    background-color: #FFF9F9;
//    box-shadow: 3px 3px 14px rgba(141, 39, 39, 0.25);
//    padding: 0 .4rem;
//    color: #9A7B7B;
//    font-size: 1.2rem;
//    align-items: center;
//}
//
//.card-count_btn {
//    background-color: transparent;
//    color: lightgray;
//    font-size: .8rem;
//    border: none;
//    text-align: center;
//}
//
//.card-count_num {
//    color: #95999c;
//    font-weight: bold;
//    font-size: 1.2rem;
//    padding: 0 .5rem;
//}
//
//.card-btn {
//    width: 100%;
//}
