/**
 * MacOS X like theme for elFinder.
 * Required jquery ui "smoothness" theme.
 *
 * @author Dmitry (dio) Levashov
 **/

/* dialogs */
.std42-dialog, .std42-dialog .ui-widget-content {
    background-color: #ededed;
    background-image: none;
    background-clip: content-box;
}

/* navbar */
.elfinder .elfinder-navbar {
    background: $light-3;
}

.elfinder-navbar .ui-state-hover {
    background: transparent;
    border-color: transparent;
}

.elfinder-navbar .ui-state-active {
    background: $dark-2;
    border-color: $dark-1;
    color: #fff;
}

/* disabled elfinder */
.elfinder-disabled .elfinder-navbar .ui-state-active {
    background: #dadada;
    border-color: #aaa;
    color: #fff;
}

/* current directory */
/* selected file in "icons" view */
.elfinder-cwd-view-icons .elfinder-cwd-file .ui-state-hover {
    background: #ccc;
}

/* list view*/
.elfinder-cwd table tr:nth-child(odd) {
    background-color: $light-1;
}

.elfinder-cwd table tr {
    border-top: 1px solid #fff;
}

/* common selected background/color */
.elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-cwd table td.ui-state-hover,
.elfinder-button-menu .ui-state-hover {
    background: $dark-2;
    color: #fff;
}

/* disabled elfinder */
.elfinder-disabled .elfinder-cwd-view-icons .elfinder-cwd-file .elfinder-cwd-filename.ui-state-hover,
.elfinder-disabled .elfinder-cwd table td.ui-state-hover {
    background: #dadada;
}

/* statusbar */
.elfinder .elfinder-statusbar {
    color: $dark-2;
}

.elfinder .elfinder-statusbar a {
    text-decoration: none;
    color: $dark-2;
}


.std42-dialog .elfinder-help, .std42-dialog .elfinder-help .ui-widget-content {
    background: #fff;
}

/* contextmenu */
.elfinder-contextmenu .ui-state-hover {
    background: $dark-2;
    color: #fff;
}

.elfinder-contextmenu .ui-state-hover .elfinder-contextmenu-arrow {
    background-image: url('../img_elfinder/arrows-active.png');
}

/* background of buttons */
.ui-state-default {
    border: 1px solid #d3d3d3;
    background: #fff !important;
    font-weight: normal;
    font-size: 14px !important;
    color: $dark-1 !important;
}

/* window styles */
.ui-widget-content {
    border: none;
    background: #fff;
    color: $dark-1;
}