.footer-nav {
    background: #FFF1F1;
    margin: 0;
    padding: 2rem 0 2rem 0;
}

.footer-column {
    font-size: .9rem;
    line-height: 1.48;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
}

.footer-menu-header {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.48;
    color: $dark-1;
    padding-bottom: .25rem;
}

.footer-menu-item {
    display: block;
    height: 1.4rem;
}

.footer-link {
    color: $dark-2;
}

.footer-link:hover {
    color: $dark-1;
}

.footer {
    padding: 2rem 0 2rem 0;
    font-size: .8rem;
    background: $dark-1;
    color: $light-2;
}

.footer-legal {

    text-align: center;
}

.footer-logo {
    display: inline-block;
    text-align: right;
    width: 2.5rem;
    height: 2.5rem;
}

.footer-text {
    display: inline-block;
    text-align: left;
}

.socials {
    display: inline-block;
    padding: 0;
}

.socials-item {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: 1rem;
    color: $dark-1;
    background: $light-2;
    text-align: center;
    line-height: 1.8rem;
    margin: 0 .1rem;
    transition: all .3s ease-in-out;
}

.socials-item:hover {
	filter: brightness(1.15);	
	transition: all .3s ease-in-out;
} 

.footer-line {
    height: .5px;
    width: 100%;
    background: $light-2;
    margin-top: 11px;
    margin-bottom: 14px;
}

.footer-company-name {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}
