.modal {
    color: $dark-3;
}

.modal-content {
    background-color: rgba(220, 220, 220, 0.75);
}

.modal-body {
    background-color: #fff;
}

.modal-logo {
    padding-top: 1.6rem;
    text-align: center;
}

.modal-form {
    //padding: 1.5rem 1.42rem 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
}

.modal-check {
    padding-bottom: 1.5rem;
}

.g-recaptcha, .g-recaptcha div {
    overflow: hidden;
    max-width: 100%;
}

// капча для мобильных
.g-recaptcha iframe, body > div[style]:last-of-type {
    transform: scale(0.75);
    transform-origin: left top;
}

// капча для больших экранов
@media (min-width: 420px) {
    .g-recaptcha iframe, body > div[style]:last-of-type {
        transform: scale(1);
        transform-origin: left top;
    }
}

