.navbar-toggler-icon {
  background-image: url(../img/menu.svg) !important;
}

.navbar-right{
  justify-content: flex-end;
}

.nav-link {
  color: $dark-1;
  padding: 0 2rem 0 0;
}

.nav-link.header-text {
  font-size: 1.2rem;
  color: $dark-2;
  white-space: nowrap;
}

.nav-link:hover {
  color: $dark-2;
}

.nav-hamburger {
  padding: .5rem 1rem 1rem;
}

.nav-hamburger:focus {
  border-color: $dark-2;
  box-shadow: none;
}

.nav-hamburger-line {
  height: 3px;
  width: 5rem;
  background-image: linear-gradient(to right, $dark-2, $light-2, $dark-2);
  margin-bottom: .25rem;
}

.main-header-logo-text {
  font-weight: 600;
  font-size: 1.5rem;
  color: $dark-1;
}