// override bs
$primary: #9A7B7B;
$secondary: #C29B9B;
$danger: #cc223b;

// colors
$dark-1: $primary; // text primary, bg - footer
$dark-2: $secondary; // text secondary
$dark-3: #643939; // banner text
$dark-4: #ecd1d1; //
$light-1: #FFF1F1; // bg buttons
$light-2: #FFD9D9; // text footer
$light-3: #FFF9F9; // bg sort section
$attention-1: #921c2d; // price
$attention-2: $danger; // warning

$dropdown-color: $dark-2;
$dropdown-link-color: $dark-1;
$dropdown-link-active-color: $dark-3;
$dropdown-link-active-bg: $light-1;

$banner-height: 352px;

// fonts 
$primary-font: 'Montserrat', sans-serif;

// header size
$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size
$nav-width-S: 260px;

// Search size
$search-height-S: 50px;
$search-height-L: 120px;

// z-index
$below-content: 1;
$content: 2;
$above-content: 3;

// test
$red:   #cc2eaa;
$green: #2ecc71;

